.home h2 {
  margin-bottom: 100px;
  text-align: center;
}
.home .menu nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.home .menu nav img {
  height: 300px;
  width: 300px;
  position: relative;
}
.home .menu .simpleCalculator {
  position: relative;
}
.home .menu nav p {
  position: absolute;
  top: 270px;
}
